


.rich-text {
  background: var(--color-bg, var(--bg-body));
  color: var(--color-text, var(--color-body)); }
  .rich-text__inner {
    max-width: 620px;
    margin: 0 auto;
    padding: 0 20px; }
    .rich-text__inner h3 {
      color: inherit; }
    .rich-text__inner img,
    .rich-text__inner .thb-placeholder {
      margin-bottom: 30px; }
    .rich-text__inner .thb-placeholder {
      display: inline-block;
      width: 120px;
      height: 120px; }
  .rich-text .rte {
    margin-bottom: 35px; }
    .rich-text .rte p:last-child {
      margin-bottom: 0; }
  .rich-text.text-position-left .rich-text__inner {
    margin-left: 0; }
  .rich-text.text-position-right .rich-text__inner {
    margin-right: 0; }
  .rich-text.text-width-small .rich-text__inner {
    max-width: 400px; }
  .rich-text.text-width-large .rich-text__inner {
    max-width: 800px; }
  .rich-text.text-width-xlarge .rich-text__inner {
    max-width: 1000px; }
  .rich-text.text-width-grid .rich-text__inner {
    max-width: 1380px; }

.custom-button-block {
  display: inline-flex;
  align-items: center;
  border: 1px solid black;
  padding: 20px 30px 10px 30px;
  border-radius: 8px;
}
.custom-button-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.custom-button-text h4 {
  margin-bottom: 8px;
  font-size: 18px;
}
.custom-button-text p {
  font-size: 16px;
  text-decoration: underline;
}
.custom-button-image {
  width: 55px;
  min-width: 55px;
}
.custom-button-image img {
  height: 100%;
  width: 100%;
  margin-bottom: 0;
}
.custom-button-block{
  width:48%;
  margin: 0px 3px 10px;
}
.custom-button-part .custom-button-block:last-child{
  width:100%;
}
@media screen and (max-width: 749px) {
  .custom-button-block{
    width:100%;
  }
}